<h1>Current Registered UsersController</h1>
<h3><br />(with registration date and user type)</h3>
<p>
<% @users.each do |user| %>
<%= link_to user.name, "/admin/users/#{user.id}" %>
<%= user.created_at %>
<%= user.role %>
<% end %>
</p>
